.auth-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #e9f5ff;
//     background-image: url('/assets/images/bg.png');
// background-repeat: no-repeat;
// background-size: cover;
// background-position: center;

  .auth-header {
    background: #1976d2;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .auth-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .auth-footer {
    text-align: center;
    padding: 1rem;
    background: #eaeaea;
    font-size: 0.9rem;
    color: #555;
  }
}
