<div class="patient-details-card" [ngClass]="{'status-completed': data?.status == 1, 'status-cancelled': data?.status == -1}">
  <!-- Header -->
  <div class="patient-details-header">
    <div class="patient-info-container" [ngClass]="{'is-clickable': data?.self}" (click)="data?.self ? onRouting() : false">
      <!-- Profile Picture -->
      <div class="profile-pic">
        <img
          class="profile-img"
          [src]="data?.patient?.patientProfilePic || data?.patientDetails?.profilePic"
          alt="Patient Profile"
          *ngIf="data?.patient?.patientProfilePic || data?.patientDetails?.profilePic"
        />
        <span *ngIf="!(data?.patient?.patientProfilePic || data?.patientDetails?.profilePic)" class="text-24">
          {{ getPatientInitials() }}
        </span>
      </div>
      <div class="name-id-group">
        <span class="subheader-label line-clamp-2">
          {{ (data?.patient?.patientName || data?.fullName) | titlecase }}
        </span>
        <span class="patient-id">{{ data?.id || "P123456" }}</span>
      </div>
    </div>

    <!-- Icons -->
    <div class="icons">
      <!-- Cancelled -->
      <button class="svg-icon-button" *ngIf="data?.status == -1" (click)="onOpenDialog('refresh')">
        <img src="assets/images/svg/refresh.svg" alt="refresh" />
      </button>
      <button class="svg-icon-button" *ngIf="data?.status == -1" (click)="onOpenDialog('delete')">
        <img src="assets/images/svg/delete.svg" alt="delete" />
      </button>

      <!-- Scheduled -->
      <button class="svg-icon-button" *ngIf="data?.status == 0" (click)="onOpenDialog('edit')">
        <img src="assets/images/svg/book.svg" alt="edit" />
      </button>

      <!-- Close -->
      <button class="svg-icon-button" *ngIf="data?.status != -1" (click)="onClosePopup($event)">
        <img src="assets/images/svg/cross.svg" alt="close" />
      </button>
    </div>
  </div>

  <!-- Status Info -->
  <div class="contact-status-section">
    <span class="opacity-70 font-600" *ngIf="!data?.self">Profile Incomplete</span>
    <span class="opacity-70 font-600" *ngIf="data?.self">Profile Completed</span>

    <div class="contact-details-group">
      <div class="detail-row">
        <img src="assets/images/svg/phone.svg" alt="phone" />
        <span>{{ data?.patient?.patientPhone || data?.phone || "Not Available" }}</span>
      </div>

      <div class="detail-row">
        <img src="assets/images/svg/email.svg" alt="email" />
        <span>{{ data?.patientEmail?.email || data?.email || "Not Available" }}</span>
      </div>
    </div>
  </div>

  <!-- Location & Doctor -->
  <div class="location">
    <div class="d-flex gap-2 align-items-center">
      <img *ngIf="data?.consultationType == 'in_clinic'" src="assets/images/svg/home.svg" alt="in clinic" />
      <img *ngIf="data?.consultationType == 'video'" src="assets/images/svg/video.svg" alt="video" />
      <span>{{ data?.hospitalName ?? "Not Available" }}</span>
    </div>
  </div>

  <!-- Appointment Info -->
  <div class="appointment d-flex justify-content-between border-bottom">
    <span class="subheader-label">
      {{ data?.doctor?.doctorName || data?.doctorDetails?.fullName }}
    </span>
    <span class="font-400">
      <span class="subheader-label">{{ data?.date | date: "h:mm a" }}</span>
      for <br />15mins
    </span>
  </div>

  <!-- Cancel Reason -->
  <div class="cancel-reason px-24" *ngIf="data?.status == -1">
    <p class="font-600">Cancellation Reason</p>
    <p class="m-0 font-400">{{ data?.reason || 'Not provided' }}</p>
  </div>

  <!-- Buttons -->
  <div class="buttongroup w-100">
    <!-- Pending -->
    <button
      class="w-50 pending"
      *ngIf="data?.status == 0 && !loader()"
      (click)="onComplete()"
      [ngClass]="{ 'opacity-50': futureDate, 'pointer-none': futureDate }"
    >
      COMPLETED
    </button>

    <button
      class="w-50 cancelled"
      *ngIf="data?.status == 0 && !loader()"
      (click)="onOpenDialog('cancel')"
    >
      CANCEL
    </button>

    <!-- Cancelled -->
    <button class="w-100 cancelled" *ngIf="data?.status == -1">
      CANCELLED
    </button>

    <!-- Completed -->
    <button
      class="w-100 d-flex gap-2 align-items-center justify-content-center border-style rounded py-1 completed"
      *ngIf="data?.status == 1"
    >
      <img loading="lazy" src="assets/images/svg/green-check.svg" alt="completed" />
      <span>PATIENT HAS CHECKED OUT</span>
    </button>

    <!-- Loader -->
    <button class="w-100" *ngIf="loader()">
      <div class="loader m-auto">
        <div class="inner-loader"></div>
      </div>
    </button>
  </div>
</div>
